* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ECEEF0;
}

.sign-in-div {
    height: 60%;
    position: relative;
    left: 40%;
    top: 50%;
    text-align: center;
    border: 5px solid black;
    background-color: #984BEB;
    transform: translate(-50%, -50%);
    border-radius: 5%;
}

.logo {
    position: absolute;
    left: 50%;
    top: 10%;
}

.username-div {
    position: absolute;
    left: 50%;
    top: 20%;
}

.email-div {
    position: absolute;
    left: 50%;
    top: 30%;
}

.password-div {
    position: absolute;
    left: 50%;
    top: 40%;
}

.btn-sign {
    position: absolute;
    left: 50%;
    top: 50%;
}

input {
    width: 200%;
}